@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Raleway:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0px;
  padding: 0px;
}


@font-face {
  font-family: "lobster";
  src: url(../fonts/Lobster-Regular.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "gotic";
    src: url(../fonts/gotic.ttf) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body {
  height: 100%;
//   position: relative;
  scroll-behavior: smooth;
}

.section-header {
    // position: relative;
    background-image: url(../imgs/header.jpg);
    // background-size: 100% 100%;
    background-size: cover;
}

$maxWidth: 1980;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptiv-wrapper-section($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
   }


.section-header__wrapper {
  background-position: center; 
   background-position: center;
    position: relative; 
     background-attachment: fixed;
  background-size: cover;      
     background-position: center center;     
       background-size: 100% 100%;
  /* position: relative; */
  @include adaptiv-wrapper-section (190, 50);
//   background: -webkit-gradient(linear, left top, left bottom, from(rgb(36, 36, 36)), color-stop(30%, rgba(121, 121, 121, 0.419)), color-stop(70%, rgba(255, 255, 255, 0)), to(rgb(36, 36, 36))), url(../imgs/14770960794_220f687312_o.jpg);
//   background: linear-gradient(rgb(36, 36, 36), rgba(121, 121, 121, 0.419) 30%, rgba(255, 255, 255, 0) 70%, rgb(36, 36, 36)), url(../imgs/14770960794_220f687312_o.jpg);
// background-image: url(../imgs/header.jpg);



 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          background-repeat: no-repeat;
 
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
   
          
        
    
}

.section-header__main-name {
  font-family: gotic;
  @include adaptiv-font(100, 25);
  text-align: center;
  opacity: 1;
//   background: -webkit-gradient(linear, left top, right top, color-stop(33%, #000000), color-stop(66%, #202020), to(#000000));
//   background: linear-gradient(90deg, #000000 33%, #202020 66%, #000000);
background-color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: rgb(206, 206, 206);
  font-family: gotic;
  @include adaptiv-font(50, 10);
}
.section-header__menu a{
    color: white;
    // -webkit-text-stroke: 0.5px #000;
}



// .section-main__title-container {
//   content: "";
//   width: 25px;
//   height: 25px;
//   background-color: #000000;
//   position: relative;
//   top: 9px;
//   border: 2px solid rgba(255, 255, 255, 0.643);
//   border-radius: 50%;
// }


// .section-main__title-container {
//     content: "";
//     width: 25px;
//     height: 25px;
//     background-color: #000000;
//     position:relative;
//     top: 9px;
//     border: 2px solid rgba(255, 255, 255, 0.643);
//     border-radius: 50%;
// }

// .section-main-descriptions {
//   background-size: cover;

//   background-repeat: no-repeat;
// }
// .section-main {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

// }


// .section-main__about-ancient {
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(97%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url(../imgs/about-ancient-background.jpg);
//   background: linear-gradient(rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.8)), url(../imgs/about-ancient-background.jpg);
//   background-size: contain;  
// //   height: 100%; 

//   background-repeat: no-repeat;
//   flex-grow: 1;
// }

// .section-main__about-middle-ages {
//   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(3%, rgba(255, 255, 255, 0)), color-stop(97%, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8))), url(../imgs/about-middle-ages-backgrounds.jpg);
//   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 97%, rgba(0, 0, 0, 0.8)), url(../imgs/about-middle-ages-backgrounds.jpg);

//   background-size: contain;  
//   background-repeat: no-repeat;
//   flex-grow: 1;
// }

// .section-main__about-twentieth-century {
//   background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(3%, rgba(0, 0, 0, 0.303)), color-stop(97%, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8))), url(../imgs/20-centuary-background.jpg);
//   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.303) 3%, rgba(255, 255, 255, 0) 97%, rgba(0, 0, 0, 0.8)), url(../imgs/20-centuary-background.jpg);

//   background-size: contain;  
//   background-repeat: no-repeat;
//   flex-grow: 1;
// }








.section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
}

.section-main-descriptions {
    flex-grow: 1;
    background-size: cover;
   
    background-size: cover;
    min-height: 700px;
}

.section-main__ancient {
    background-position: center; 
    background-position: center;
     position: relative; 
      background-attachment: fixed;
   background-size: cover;      
      background-position: center center;     
        background-size: 100% 100%;
}

.section-main__about-ancient {
    background: 
    linear-gradient(rgba(0, 0, 0, 0)97%, rgba(0, 0, 0, 0.800)), 
    url(../imgs/about-ancient-background.jpg);
    background-size: cover;
    background-position: center;
}

.section-main__middle-ages {
    background-position: center; 
    background-position: center;
     position: relative; 
      background-attachment: fixed;
   background-size: cover;      
      background-position: center center;     
        background-size: 100% 100%;
}

.section-main__about-middle-ages{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.800),rgba(255, 255, 255, 0)3%, rgba(255, 255, 255, 0)97%, rgba(0, 0, 0, 0.800)), 
    url(../imgs/about-middle-ages-backgrounds.jpg);
    background-size: cover;
    background-position: center;
} 

.section-main__twentieth-century{
    background-position: center; 
    background-position: center;
     position: relative; 
      background-attachment: fixed;
   background-size: cover;      
      background-position: center center;     
        background-size: 100% 100%;
}

.section-main__about-twentieth-century {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.303)3%, rgba(255, 255, 255, 0)97%, rgba(0, 0, 0, 0.800)), 
    url(../imgs/20-centuary-background.jpg);
    background-size: cover;
    background-position: center;
}

.main__wrapper{
    display:flex;
    flex-direction: column;
    position: relative;

}

.footer {
    background-color: grey;
    @include adaptiv-wrapper-section (100, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    @include adaptiv-font(70, 15);

}
