@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Raleway:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "lobster";
  src: url(../fonts/Lobster-Regular.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gotic";
  src: url(../fonts/gotic.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  height: 100%;
  scroll-behavior: smooth;
}

.section-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(97%, rgba(255, 255, 255, 0)), to(rgb(0, 0, 0))), url(../imgs/header.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0) 97%, rgb(0, 0, 0)), url(../imgs/header.jpg);
  background-size: cover;
}

.section-header__wrapper {
  background-position: center;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  /* position: relative; */
  height: calc(50px + 140 * ((100vw - 320px) / 1660));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  padding-bottom: 1%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-header__main-name {
  font-family: gotic;
  font-size: calc(25px + 75 * ((100vw - 320px) / 1660));
  text-align: center;
  opacity: 1;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.045em black;
}

.section-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: gotic;
  -webkit-text-stroke: 0.05em black;
  font-size: calc(15px + 35 * ((100vw - 320px) / 1660));
}

.section-header__menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-main {
  height: 100%;
  background-size: cover;
}

.section-main__wrapper {
  position: relative;
}

.section-main__about {
  border: 4px solid black;
  text-align: center;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 1%;
}

@media (min-width: 0px) and (max-width: 500px) {
  .section-main__period {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[10];
    grid-template-rows: repeat(10, 1fr);
  }
  .section-main__period > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(10) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .section-main__about {
    background-image: url(../imgs/circle-with-bottom-and-top-wing.png);
    height: 300px;
    font-size: 30px;
    font-family: gotic;
  }
  .section-main__about-ancient__1 {
    background-image: url(../imgs/circle-with-bottom-wing.png);
  }
  .section-main__about {
    display: block;
  }
  .philopher {
    font-size: calc(30px + 20 * ((100vw - 320px) / 1660));
  }
  .description {
    font-size: calc(15px + 15 * ((100vw - 320px) / 1660));
  }
}
@media (min-width: 501px) and (max-width: 799px) {
  .section-main__period {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
  }
  .section-main__period > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .section-main__about {
    background-image: url(../imgs/circle-with-bottom-and-top-wing.png);
    height: 300px;
    font-family: gotic;
  }
  .section-main__about-ancient__1 {
    background-image: url(../imgs/circle-with-right-wing.png);
  }
  .section-main__about-ancient__2, .section-main__about-ancient__6, .section-main__about-ancient__10, .section-main__about-middle-ages__4, .section-main__about-middle-ages__8, .section-main__about-twentieth-century__2, .section-main__about-twentieth-century__6, .section-main__about-twentieth-century__10 {
    background-image: url(../imgs/circle-with-left-and-bottom-wing.png);
  }
  .section-main__about-ancient__3, .section-main__about-ancient__7, .section-main__about-middle-ages__1, .section-main__about-middle-ages__5, .section-main__about-middle-ages__9, .section-main__about-twentieth-century__3, .section-main__about-twentieth-century__7 {
    background-image: url(../imgs/circle-with-rigt-and-bottom-wing.png);
  }
  .section-main__about-ancient__4, .section-main__about-ancient__8, .section-main__about-middle-ages__2, .section-main__about-middle-ages__6, .section-main__about-middle-ages__10, .section-main__about-twentieth-century__4, .section-main__about-twentieth-century__8 {
    background-image: url(../imgs/circle-with-left-and-top-wing.png);
  }
  .section-main__about-ancient__5, .section-main__about-ancient__9, .section-main__about-middle-ages__3, .section-main__about-middle-ages__7, .section-main__about-twentieth-century__5, .section-main__about-twentieth-century__9, .section-main__about-twentieth-century__1 {
    background-image: url(../imgs/circle-with-right-and-top-wing.png);
  }
  .section-main__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 5% 10% 0px 10%;
  }
  .philopher {
    font-size: calc(10px + 40 * ((100vw - 320px) / 1660));
  }
  .description {
    font-size: calc(6px + 24 * ((100vw - 320px) / 1660));
  }
}
@media (min-width: 800px) {
  .section-main__period {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
  .section-main__period > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .section-main__period > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .section-main__period > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .section-main__period > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .section-main__period > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .section-main__period > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .section-main__period > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .section-main__period > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .section-main__about {
    background-image: url(../imgs/circle-with-both-wings.png);
    height: 300px;
    font-size: 30px;
    font-family: gotic;
  }
  .section-main__about-ancient__1 {
    background-image: url(../imgs/circle-with-right-wing.png);
  }
  .section-main__about-ancient__5, .section-main__about-middle-ages__5, .section-main__about-twentieth-century__5 {
    background-image: url(../imgs/circle-with-left-and-bottom-wing.png);
  }
  .section-main__about-ancient__10, .section-main__about-middle-ages__10, .section-main__about-twentieth-century__10 {
    background-image: url(../imgs/circle-with-left-and-top-wing.png);
  }
  .section-main__about-ancient__6, .section-main__about-middle-ages__6, .section-main__about-twentieth-century__6 {
    background-image: url(../imgs/circle-with-rigt-and-bottom-wing.png);
  }
  .section-main__about-middle-ages__1, .section-main__about-twentieth-century__1 {
    background-image: url(../imgs/circle-with-right-and-top-wing.png);
  }
  .section-main__about {
    display: block;
  }
  .philopher {
    font-size: calc(30px + 20 * ((100vw - 320px) / 1660));
  }
  .description {
    font-size: calc(15px + 15 * ((100vw - 320px) / 1660));
  }
}
.section-main__ancient {
  background: url(../imgs/about-ancient-background.jpg);
  background-position: center;
  background-position: center;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.section-main__middle-ages {
  background: url(../imgs/about-middle-ages-backgrounds.jpg);
  background-position: center;
  background-position: center;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.section-main__twentieth-century {
  background: url(../imgs/20-centuary-background.jpg);
  background-position: center;
  background-position: center;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.footer {
  background-color: grey;
  height: calc(40px + 60 * ((100vw - 320px) / 1660));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  font-size: calc(15px + 55 * ((100vw - 320px) / 1660));
}